body {
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.fa-plus {
	float:right;
}

span{
	background: #e74c3c;
	margin-right: 20px;
	width: 0px;
	color:white;
	display: inline-block;
	text-align: center;
	transition: 0.2s linear;
	opacity:0;
}

li:hover span {
	width:40px;
	opacity:1.0;
}




h1 {
	background: #2980b9;
	color: white;
	margin:0;
	padding: 10px 20px;
	font-size:24px;
	text-transform: uppercase;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color:#666;
}

li:nth-child(2n){
	background:#f7f7f7;
}

input {
	margin:0;
	font-size:18px;
	color:#2980b9;
	background: #f7f7f7;
	width:100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus {
	border: 2px solid #2980b9;
	outline: none;
}

.container {
	margin:100px auto;
	width:360px;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.done {
	color:gray;
	text-decoration: line-through;
}